@charset "UTF-8";

@import "configuration";

html {
  overflow: scroll;
  color: $black_333;
  font-size: 62.5%;
  background-color: $white＿fcf;
}

body {
  color: $black_333;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  letter-spacing: .04em;
  background-color: $white＿fcf;
}

#top {
  overflow: hidden;
}

.inner {
  width: 100%;
  max-width: calc(1024px + 3.2rem);
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  margin: 0 auto;
}

.inner.-wide {
  max-width: calc(1200px + 3.2rem);
}

.inner.-tight {
  max-width: calc(960px + 3.2rem);
}

.-pc-only {
  @media #{$tab} {
    display: none !important;
  }
}
.-sp-only {
  display: none !important;
  @media #{$tab} {
    display: inline-block !important;
  }
}
